In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import seaborn
seaborn.set_context('talk')

from sqlalchemy import create_engine, text

**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Exploración y Curación de Datos**

*Edición 2023*

----

# Trabajo práctico entregable - parte 1

En esta notebook, vamos a cargar el conjunto de datos de [la compentencia Kaggle](https://www.kaggle.com/dansbecker/melbourne-housing-snapshot) sobre estimación de precios de ventas de propiedades en Melbourne, Australia.

Utilizaremos el conjunto de datos reducido producido por [DanB](https://www.kaggle.com/dansbecker). Hemos subido una copia a un servidor de la Universidad Nacional de Córdoba para facilitar su acceso remoto.

In [3]:
import plotly
plotly.__version__

'5.13.1'

In [7]:
melb_df = pd.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')
melb_df[:3]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [8]:
melb_df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

## Ejercicio 1 SQL: 

1. Crear una base de datos en SQLite utilizando la libreria [SQLalchemy](https://stackoverflow.com/questions/2268050/execute-sql-from-file-in-sqlalchemy).
https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite

2. Ingestar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' en una tabla y el dataset generado en clase con datos de airbnb y sus precios por codigo postal en otra.

3. Implementar consultas en SQL que respondan con la siguiente información:

    - cantidad de registros totales por ciudad.
    - cantidad de registros totales por barrio y ciudad.

4. Combinar los datasets de ambas tablas ingestadas utilizando el comando JOIN de SQL  para obtener un resultado similar a lo realizado con Pandas en clase.

In [9]:
#1. Crando una base de datos en SQLite 
engine = create_engine('sqlite:///airbnb.sqlite3', echo=True)

In [10]:
#2.1 Ingesta de datos Melb
melb_df.to_sql('melb_data', con=engine, if_exists="replace")

2023-05-23 19:48:00,867 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-23 19:48:00,876 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("melb_data")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("melb_data")

2023-05-23 19:48:00,880 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-05-23 19:48:00,883 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("melb_data")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("melb_data")

2023-05-23 19:48:00,885 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-05-23 19:48:00,888 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

2023-05-23 19:48:00,893 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-23 19:48:00,899 INFO sqlalchemy.engine.Engine
CREATE TABLE melb_data (
	"index" BIGINT,
	"Suburb" TEXT,
	"Address" TEXT,
	"Rooms" BIGINT,
	"Type" TEXT,
	"Price" FLOAT,
	"Method" TEXT,
	"SellerG" TEXT,
	"Date" TEXT,
	"Distance" FLOAT,
	"Postcode" FLOAT,
	"Bedroom2" FLOAT,
	"Bathroom" FLOAT,
	"Car" FLOAT,
	"Landsize" FLOAT,
	"BuildingArea" FLOAT,
	"YearBuilt" FLOAT,
	"CouncilArea" TEXT,
	"Lattitude" FLOAT,
	"Longtitude" FLOAT,
	"Regionname" TEXT,
	"Propertycount" FLOAT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE melb_data (
	"index" BIGINT,
	"Suburb" TEXT,
	"Address" TEXT,
	"Rooms" BIGINT,
	"Type" TEXT,
	"Price" FLOAT,
	"Method" TEXT,
	"SellerG" TEXT,
	"Date" TEXT,
	"Distance" FLOAT,
	"Postcode" FLOAT,
	"Bedroom2" FLOAT,
	"Bathroom" FLOAT,
	"Car" FLOAT,
	"Landsize" FLOAT,
	"BuildingArea" FLOAT,
	"YearBuilt" FLOAT,
	"CouncilArea" TEXT,
	"Lattitude" FLOAT,
	"Longtitude" FLOAT,
	"Regionname" TEXT,
	"Propertycount" FLOAT
)

2023-05-23 19:48:00,901 INFO sqlalchemy.engine.Engine [no key 0.00280s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00280s] ()

2023-05-23 19:48:00,923 INFO sqlalchemy.engine.Engine CREATE INDEX ix_melb_data_index ON melb_data ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX ix_melb_data_index ON melb_data ("index")

2023-05-23 19:48:00,925 INFO sqlalchemy.engine.Engine [no key 0.00244s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00244s] ()

2023-05-23 19:48:00,941 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-05-23 19:48:00,972 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-23 19:48:01,218 INFO sqlalchemy.engine.Engine INSERT INTO melb_data ("index", "Suburb", "Address", "Rooms", "Type", "Price", "Method", "SellerG", "Date", "Distance", "Postcode", "Bedroom2", "Bathroom", "Car", "Landsize", "BuildingArea", "YearBuilt", "CouncilArea", "Lattitude", "Longtitude", "Regionname", "Propertycount") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO melb_data ("index", "Suburb", "Address", "Rooms", "Type", "Price", "Method", "SellerG", "Date", "Distance", "Postcode", "Bedroom2", "Bathroom", "Car", "Landsize", "BuildingArea", "YearBuilt", "CouncilArea", "Lattitude", "Longtitude", "Regionname", "Propertycount") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2023-05-23 19:48:01,227 INFO sqlalchemy.engine.Engine [generated in 0.19597s] [(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0), (1, 'Abbotsford', '25 Bloomburg St', 2, 'h', 1035000.0, 'S', 'Biggin', '4/02/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 156.0, 79.0, 1900.0, 'Yarra', -37.8079, 144.9934, 'Northern Metropolitan', 4019.0), (2, 'Abbotsford', '5 Charles St', 3, 'h', 1465000.0, 'SP', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 0.0, 134.0, 150.0, 1900.0, 'Yarra', -37.8093, 144.9944, 'Northern Metropolitan', 4019.0), (3, 'Abbotsford', '40 Federation La', 3, 'h', 850000.0, 'PI', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 1.0, 94.0, None, None, 'Yarra', -37.7969, 144.9969, 'Northern Metropolitan', 4019.0), (4, 'Abbotsford', '55a Park St', 4, 'h', 1600000.0, 'VB', 'Nelson', '4/06/2016', 2.5, 3067.0, 3.0, 1.0, 2.0, 120.0, 142.0, 2014.0, 'Yarra', -37.8072, 144.9941, 'Northern Metropolitan', 4019.0), (5, 'Abbotsford', '129 Charles St', 2, 'h', 941000.0, 'S', 'Jellis', '7/05/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 181.0, None, None, 'Yarra', -37.8041, 144.9953, 'Northern Metropolitan', 4019.0), (6, 'Abbotsford', '124 Yarra St', 3, 'h', 1876000.0, 'S', 'Nelson', '7/05/2016', 2.5, 3067.0, 4.0, 2.0, 0.0, 245.0, 210.0, 1910.0, 'Yarra', -37.8024, 144.9993, 'Northern Metropolitan', 4019.0), (7, 'Abbotsford', '98 Charles St', 2, 'h', 1636000.0, 'S', 'Nelson', '8/10/2016', 2.5, 3067.0, 2.0, 1.0, 2.0, 256.0, 107.0, 1890.0, 'Yarra', -37.806, 144.9954, 'Northern Metropolitan', 4019.0)  ... displaying 10 of 13580 total bound parameter sets ...  (13578, 'Williamstown', '96 Verdon St', 4, 'h', 2500000.0, 'PI', 'Sweeney', '26/08/2017', 6.8, 3016.0, 4.0, 1.0, 5.0, 866.0, 157.0, 1920.0, None, -37.85908, 144.89299, 'Western Metropolitan', 6380.0), (13579, 'Yarraville', '6 Agnes St', 4, 'h', 1285000.0, 'SP', 'Village', '26/08/2017', 6.3, 3013.0, 4.0, 1.0, 1.0, 362.0, 112.0, 1920.0, None, -37.81188, 144.88449, 'Western Metropolitan', 6543.0)]

INFO:sqlalchemy.engine.Engine:[generated in 0.19597s] [(0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0), (1, 'Abbotsford', '25 Bloomburg St', 2, 'h', 1035000.0, 'S', 'Biggin', '4/02/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 156.0, 79.0, 1900.0, 'Yarra', -37.8079, 144.9934, 'Northern Metropolitan', 4019.0), (2, 'Abbotsford', '5 Charles St', 3, 'h', 1465000.0, 'SP', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 0.0, 134.0, 150.0, 1900.0, 'Yarra', -37.8093, 144.9944, 'Northern Metropolitan', 4019.0), (3, 'Abbotsford', '40 Federation La', 3, 'h', 850000.0, 'PI', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 1.0, 94.0, None, None, 'Yarra', -37.7969, 144.9969, 'Northern Metropolitan', 4019.0), (4, 'Abbotsford', '55a Park St', 4, 'h', 1600000.0, 'VB', 'Nelson', '4/06/2016', 2.5, 3067.0, 3.0, 1.0, 2.0, 120.0, 142.0, 2014.0, 'Yarra', -37.8072, 144.9941, 'Northern Metropolitan', 4019.0), (5, 'Abbotsford', '129 Charles St', 2, 'h', 941000.0, 'S', 'Jellis', '7/05/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 181.0, None, None, 'Yarra', -37.8041, 144.9953, 'Northern Metropolitan', 4019.0), (6, 'Abbotsford', '124 Yarra St', 3, 'h', 1876000.0, 'S', 'Nelson', '7/05/2016', 2.5, 3067.0, 4.0, 2.0, 0.0, 245.0, 210.0, 1910.0, 'Yarra', -37.8024, 144.9993, 'Northern Metropolitan', 4019.0), (7, 'Abbotsford', '98 Charles St', 2, 'h', 1636000.0, 'S', 'Nelson', '8/10/2016', 2.5, 3067.0, 2.0, 1.0, 2.0, 256.0, 107.0, 1890.0, 'Yarra', -37.806, 144.9954, 'Northern Metropolitan', 4019.0)  ... displaying 10 of 13580 total bound parameter sets ...  (13578, 'Williamstown', '96 Verdon St', 4, 'h', 2500000.0, 'PI', 'Sweeney', '26/08/2017', 6.8, 3016.0, 4.0, 1.0, 5.0, 866.0, 157.0, 1920.0, None, -37.85908, 144.89299, 'Western Metropolitan', 6380.0), (13579, 'Yarraville', '6 Agnes St', 4, 'h', 1285000.0, 'SP', 'Village', '26/08/2017', 6.3, 3013.0, 4.0, 1.0, 1.0, 362.0, 112.0, 1920.0, None, -37.81188, 144.88449, 'Western Metropolitan', 6543.0)]

2023-05-23 19:48:01,323 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

13580

In [11]:
#2.2 Cargo la base de Airbnb
#from google.colab import files

# Cargar el archivo CSV desde tu computadora
#uploaded = files.upload()

# Obtener el nombre del archivo cargado
#file_name = list(uploaded.keys())[0]

# Cargar el archivo CSV en un DataFrame
#airbnb_df = pd.read_csv(file_name)
url = "https://raw.githubusercontent.com/bonafepedro/exploratory_analisis_datacuration/master/data/airbnb_price_by_zipcode.csv"
airbnb_df = pd.read_csv(url)

In [ ]:
# 2.2 Ingesta de datos Airbnb
airbnb_df.to_sql('airbnb_data', con=engine, if_exists="replace")

In [ ]:
airbnb_df.columns

Index(['zipcode', 'airbnb_price_mean', 'airbnb_record_count',
       'airbnb_weekly_price_mean', 'airbnb_monthly_price_mean'],
      dtype='object')

In [ ]:
#3. Cantidad de registros totales por ciudad y Cantidad de registros totales por barrio y ciudad. Es una sola ciudad por lo que calculo la cantidad total y por barrio 

# Consulta 1: Cantidad de registros totales por ciudad
query1 = "SELECT COUNT(*) as total_records FROM melb_data"

# Consulta 2: Cantidad de registros totales por barrio
query2 = "SELECT Suburb, COUNT(*) as total_records FROM melb_data GROUP BY Suburb"

In [ ]:
#3.2 Query 1
with engine.connect() as con:
      rs = con.execute(text(query1))
      df_all = pd.DataFrame(rs.fetchall())
      # print(query1)
      for row in rs:
          print(row)
df_all

2023-05-22 01:00:06,285 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-22 01:00:06,291 INFO sqlalchemy.engine.Engine SELECT COUNT(*) as total_records FROM melb_data

INFO:sqlalchemy.engine.Engine:SELECT COUNT(*) as total_records FROM melb_data

2023-05-22 01:00:06,296 INFO sqlalchemy.engine.Engine [generated in 0.01142s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.01142s] ()

2023-05-22 01:00:06,300 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

   total_records
0          13580

In [ ]:
#3.2 Query 2
with engine.connect() as con:
      rs = con.execute(text(query2))
      df_sub = pd.DataFrame(rs.fetchall())
      # print(query1)
      for row in rs:
          print(row)
df_sub

2023-05-22 01:00:10,734 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-22 01:00:10,739 INFO sqlalchemy.engine.Engine SELECT Suburb, COUNT(*) as total_records FROM melb_data GROUP BY Suburb

INFO:sqlalchemy.engine.Engine:SELECT Suburb, COUNT(*) as total_records FROM melb_data GROUP BY Suburb

2023-05-22 01:00:10,742 INFO sqlalchemy.engine.Engine [generated in 0.00776s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00776s] ()

2023-05-22 01:00:10,763 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

           Suburb  total_records
0      Abbotsford             56
1      Aberfeldie             44
2    Airport West             67
3       Albanvale              6
4     Albert Park             69
..            ...            ...
309    Wonga Park              1
310  Wyndham Vale              4
311     Yallambie             24
312    Yarra Glen              1
313    Yarraville            164

[314 rows x 2 columns]

In [ ]:
#4. combinar los datasets de las tablas ingresadas utilizando el comando JOIN de SQL para obtener un resultado similar a lo realizado con Pandas en clase. 
# Consulta 4: Combinar los datasets de ambas tablas utilizando JOIN
query3 = """
SELECT *
FROM melb_data
LEFT JOIN airbnb_data ON melb_data.Postcode = airbnb_data.zipcode
"""

In [ ]:
#4.1 Query 3
with engine.connect() as con:
      rs = con.execute(text(query3))
      df_join = pd.DataFrame(rs.fetchall())
      # print(query1)
      for row in rs:
          print(row)
df_join

2023-05-22 01:13:59,255 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-22 01:13:59,261 INFO sqlalchemy.engine.Engine
SELECT *
FROM melb_data
LEFT JOIN airbnb_data ON melb_data.Postcode = airbnb_data.zipcode

INFO:sqlalchemy.engine.Engine:
SELECT *
FROM melb_data
LEFT JOIN airbnb_data ON melb_data.Postcode = airbnb_data.zipcode

2023-05-22 01:13:59,270 INFO sqlalchemy.engine.Engine [generated in 0.01569s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.01569s] ()

2023-05-22 01:13:59,785 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Lattitude,Longtitude,Regionname,Propertycount,index,zipcode,airbnb_price_mean,airbnb_record_count,airbnb_weekly_price_mean,airbnb_monthly_price_mean
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,-37.79960,144.99840,Northern Metropolitan,4019.0,57.0,3067.0,130.624031,258.0,605.152174,2187.032258
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,-37.80790,144.99340,Northern Metropolitan,4019.0,57.0,3067.0,130.624031,258.0,605.152174,2187.032258
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,-37.80930,144.99440,Northern Metropolitan,4019.0,57.0,3067.0,130.624031,258.0,605.152174,2187.032258
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,-37.79690,144.99690,Northern Metropolitan,4019.0,57.0,3067.0,130.624031,258.0,605.152174,2187.032258
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,-37.80720,144.99410,Northern Metropolitan,4019.0,57.0,3067.0,130.624031,258.0,605.152174,2187.032258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,125.0,3150.0,124.026455,189.0,526.350000,1901.611111
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,-37.85927,144.87904,Western Metropolitan,6380.0,14.0,3016.0,191.094595,74.0,612.250000,2119.750000
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,-37.85274,144.88738,Western Metropolitan,6380.0,14.0,3016.0,191.094595,74.0,612.250000,2119.750000
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,-37.85908,144.89299,Western Metropolitan,6380.0,14.0,3016.0,191.094595,74.0,612.250000,2119.750000
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,-37.81188,144.88449,Western Metropolitan,6543.0,12.0,3013.0,135.609756,82.0,923.571429,2966.090909

In [ ]:
df_join.columns

Index(['index', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount', 'index',
       'zipcode', 'airbnb_price_mean', 'airbnb_record_count',
       'airbnb_weekly_price_mean', 'airbnb_monthly_price_mean'],
      dtype='object')

## Ejercicio 2 - Pandas: 

1. Seleccionar un subconjunto de columnas que les parezcan relevantes al problema de predicción del valor de la propiedad. Justificar las columnas seleccionadas y las que no lo fueron.
 - Eliminar los valores extremos que no sean relevantes para la predicción de valores de las propiedades.

 
2. Agregar información adicional respectiva al entorno de una propiedad a partir del [conjunto de datos de AirBnB](https://www.kaggle.com/tylerx/melbourne-airbnb-open-data?select=cleansed_listings_dec18.csv) utilizado en el práctico. 
  1. Seleccionar qué variables agregar y qué combinaciones aplicar a cada una. Por ejemplo, pueden utilizar solo la columna `price`, o aplicar múltiples transformaciones como la mediana o el mínimo.
  1. Utilizar la variable zipcode para unir los conjuntos de datos. Sólo incluir los zipcodes que tengan una cantidad mínima de registros (a elección) como para que la información agregada sea relevante.
  2. Investigar al menos otras 2 variables que puedan servir para combinar los datos, y justificar si serían adecuadas o no. Pueden asumir que cuentan con la ayuda de anotadores expertos para encontrar equivalencias entre barrios o direcciones, o que cuentan con algoritmos para encontrar las n ubicaciones más cercanas a una propiedad a partir de sus coordenadas geográficas. **NO** es necesario que realicen la implementación.

Pueden leer otras columnas del conjunto de AirBnB además de las que están en `interesting_cols`, si les parecen relevantes.

## Ejercicio 3:

Crear y guardar un nuevo conjunto de datos con todas las transformaciones realizadas anteriormente.

## Ejercicios opcionales:

1. Armar un script en python (archivo .py) [ETL](https://towardsdatascience.com/what-to-log-from-python-etl-pipelines-9e0cfe29950e) que corra los pasos de extraccion, transformacion y carga, armando una funcion para cada etapa del proceso y luego un main que corra todos los pasos requeridos.

2. Armar un DAG en Apache Airflow que corra el ETL. (https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html)